#piano {
    --white: 70px;
    --black: 44px;
    position: relative;
    width: calc(var(--white) * 7);
    height: 240px;
    margin: 0 auto;
}
/*Basis */
.key {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
}
.white-keys .key {
    width: var(--white);
    height: 100%;
    border: 3px solid #111;
    background: #fff;
    padding-bottom: 12px;
    font-size: 22px;
}

.black-keys .key.black {
    position: absolute;
    top: 0;
    width: var(--black);
    height: 150px;
    background: #000;
    color: #fff;
    border: 2px solid #111;
    border-radius: 0 0 3px 4px;  
    padding-bottom: 10px;
    font-size: 18px;
    z-index: 10;
    pointer-events: auto;
}



.white-keys {
    display: flex;
    height: 100%;
}

.white-keys .key {
    width: var(--white);
    height: 100%;
    border: 3px solid #111;
    background: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 12px;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
}

.black-keys {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    pointer-events: none;
}



#keyC5 {
    left: calc(var(--white) * 1 - (var(--black) / 2));
}

#keyD5 {
    left: calc(var(--white) * 2 - (var(--black) / 2));
}

#keyF5 {
    left: calc(var(--white) * 4 - (var(--black) / 2));
}

#keyG5 {
    left: calc(var(--white) * 5 - (var(--black) / 2));
}

#keyA5 {
    left: calc(var(--white) * 6 - (var(--black) / 2));
}


.active-note {
    font-weight: bold;
    color: blue;
}