<div class="messenger-list">

  <div class="user-list">
    @if (isLoading()) {
      <p class="p-3">Lade Kontakte...</p>
    }
    @if (errorMessage()) {
      <p class="text-danger p-3">{{ errorMessage() }}</p>
    }

    @if (knownUsers().length) {
      <p class="p-2 fw-bold">Bekannte Kontakte</p>
      @for (user of knownUsers(); track user.id) {
        <div class="user-div"
          [class.active]="activeUser()?.id === user.id"
          (click)="loadConversation(user)">
          {{ user.name }}
        </div>
      }
      <p class="p-2 fw-bold">Andere Kontakte</p>
    }


    @for (user of otherUsers(); track user.id) {
      <div
        class="user-div"
        [class.active]="activeUser()?.id === user.id"
        (click)="loadConversation(user)">
        {{ user.name }}
      </div>
    }
  </div>
 
  <div class="conversation-window">
    @if (activeUser()) {
      <app-conversation [user]="activeUser()!" />
    } 
  </div>
</div>
